.top-section, .bottom-section {
    height: 50%;
    /* risky */
    display: flex;
    justify-content: center;
}

.top-section {
    background-color: var(--yellow);
}

.name-container {
    border: 12px solid var(--blue);
    border-radius: 12px;
    width: 70%;
    position: absolute;
    top: 25px;
    text-align: center;
}

.name {
    /* color: #3C465F; */
    color: var(--blue);
    font-size: 3em;
    margin: 0.4em 0;
}

.headline {
    position: absolute;
    top: 19%;
    color: var(--blue);
}

.code-symbol {
    position: absolute;
    top: 23.5%;
    color: var(--blue);
}

.image-container {
    background-color: white;
    height: 240px;
    width: 240px;
    position: absolute;
    top: 32%;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 206px;
    width: 207px;
}

.about-container {
    background-color: var(--blue);
    color: white;
    width: 80%;
    height: fit-content;
    position: relative;
    padding: 0 1em;
    font-size: 2em;
    top: 28%;
}

