.top-container {
    background-color: var(--themeYellow);
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.top-section, .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    /* background-color: var(--themeYellow); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22em;
}

.top-subsection {
    /* margin-top: 30px; */
    width: 70%;
}

.name-container {
    border: 12px solid var(--themeBlue);
    border-radius: 12px;
    top: 25px;
    text-align: center;
}

.name {
    /* color: #3C465F; */
    color: var(--themeBlue);
    font-size: 3em;
    font-family: 'Maven-pro-bold';
    margin: 0.4em 0;
}

.headline {
    margin-top: 1.5em;
    color: var(--themeBlue);
    text-align: center;
}
.image-container {
    background-color: white;
    height: 240px;
    width: 240px;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -114px;
}

.profile-pic {
    height: 206px;
    width: 207px;
}

.about-container {
    background-color: var(--themeBlue);
    color: white;
    width: 80%;
    height: fit-content;
    padding: 0 1em;
    font-size: 2em;
    text-align: center;
    line-height: normal;
    padding: 0.5em 1em;
}

.navbar {
    background-color: var(--themeYellow) !important;
}

.navbar-brand:hover {
    color: var(--themeRed) !important;
    font-weight: bold;
}

triangle-container {
    width: 80%;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 45px solid var(--themeBlue);
    border-left: 100px solid transparent;
  }
  
