.header {
    border: 12px solid var(--themeBlue);
    width: 80%;
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
    font-family: 'Maven-pro-bold';
    font-size: 2em;
    color: var(--themeBlue);
}

/* for smaller mobile devices */
@media only screen and (max-width: 600px) {
    .header {
        font-size: 1.5em;
    }
}