.sidebar {
    background-color: var(--themeYellow);
    height: 100vh;
    width: 23em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .navbar {
    /* margin-top: 5em; */
}
/* .to-home {
    color: var(--themeBlue);
    font-size: 2.2em;
    font-family: 'Maven-pro-bold';
} */

.to-home:hover {
    text-decoration: none;
}

.logo {
    height: 13em;
    width: 13em;
}

.contact-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.icons-style svg{
    height: 25px !important;
    width: 25px !important;
}

.selected {
    font-weight: bold;
    color: var(--themePink) !important;
}

.sidebar .nav-item {
    padding: 1.5em 0;
    text-align: center;
}

.separator {
    border-bottom: 1px solid #3C465F;
    width: 100%;
    margin-top: 0.8em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 9em; */
}

/* for phones and tabs */
@media only screen and (max-width: 1079px) {
    .sidebar {
        /* background-color: transparent; */
        height: 100%;
        padding: 0;
        width: 100%;
    }
    .sidebar .nav-item {
        padding: 0.5em 0;
    }
    .logo {
        height: 9em;
        width: 9em;
    }
}