:root {
    --themeBlue: #3C465F;
    --themeYellow: #FFB038;
    --themeRed: #AB4C4C;
    --themePink: #DF114A;
    --fullwidth: 100%;
}
.main_app_container {
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Maven-pro', Arial, sans-serif;
}

.secondary-screens-container {
    display: flex;
}
/* for phones and tabs */
@media only screen and (max-width: 1079px) { 
    .secondary-screens-container {
        display: block;
    }
}
@font-face {
    font-family: "Maven-pro";
    src: url("./assets/fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Maven-pro-bold";
    src: url("./assets/fonts/Maven_Pro/static/MavenPro-Bold.ttf");
}


